.navbar{
  position: fixed;
  height: 68px;
  z-index: 10;
  width: 100%;
  display: flex;
  top:0;
}
.navbar-dark {
  transition: 0.4s ease-in-out;
  background-color: black;
  background-image: none;
}

.navbar-logo {
  margin: auto 55px;
  vertical-align: middle;
  cursor: pointer;
  width: 150px;
}

.navbar-space{
  flex:1;
}

.navbar-avatar {
  margin:auto 55px;
  height: 35px;
  vertical-align: middle;
  cursor: pointer;
}
.navbar-tmdb {
  width: 100px;
  cursor: pointer;
}


@media (min-width: 1281px) {

}

@media (min-width: 1025px) and (max-width: 1280px) {

}

@media (min-width: 768px) and (max-width: 1024px) {

}

@media (min-width: 768px) and (max-width:1024px) and (orientation:landscape) {

}

@media (min-width: 481px) and (max-width:767px) {

}

@media (min-width: 200px) and (max-width:480px) {
  .navbar{
    height: 48px;
  }
  .navbar-logo {
    width: 110px;
    margin: auto 30px;
  }
  .navbar-tmdb {
    width: 70px;
  }
  .navbar-avatar {
    height: 28px;
    margin:auto 30px;
  }
}